CLUSTER_ID=j-XXXXXXXXXX
S3_BUCKET=ecommerce-spark-pipeline-ap-northeast-2
RDS_ENDPOINT=your-rds-endpoint.ap-northeast-2.rds.amazonaws.com
PG_USER=hive
PG_PASSWORD=hive
REGION=ap-northeast-2
ATHENA_RESULTS=s3://<S3_BUCKET>/athena-results/
INSTANCE_TYPE=m5.xlarge
INSTANCE_COUNT=3
EC2_SUBNET=subnet-xxxxxxxxxx
RDS_INSTANCE_CLASS=db.t3.micro
RDS_SUBNET_GROUP=your-rds-subnet-group
RDS_SG=sg-xxxxxxxxxx
